body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
}

main {
    text-align: center;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */

}

li {
    display: inline;
}


img {
    max-width: 100%;
}

p {
    font-family: sans-serif;
    max-width: 300px;
    text-align: left;
    margin-left: 10px;
}

.card {
    flex: 1 1 100%;
    width: 30rem;
    box-shadow: 1px 1px 4px #888;
    border-radius: 3px;
    background-color: white;
    margin: 10px;
}
