body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
}

h1, h2 {
    align-content: center;
}

main {
    text-align: center;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */

}

li {
    display: inline;
}


img {
    max-width: 30rem;
}

p {
    font-family: sans-serif;
    max-width: 300px;
    text-align: left;
    margin-left: 10px;
}

/* .responsive {
    display: block;
} */

.card {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    box-shadow: 1px 1px 4px #888;
    border-radius: 3px;
    background-color: white;
    margin: 10px;
    align-content: center;
}

.card h2 {
    text-align: center;
}
