@media only screen and (min-width: 32.5em) {
    nav ul.responsive {
        display: flex;
    }

    .navigation div {
        display: none;
    }

    .forecast {
        display: flex;
        flex-wrap: wrap;
    }

    .forecast.responsive {
        display: flex;
        flex-wrap: nowrap;
    }

    .article {
        display: flex;
    }

    .article p {
        padding: 6rem 3rem 3rem 3rem;
    }
}
