h1, h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #e8eae6;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #cfdac8;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    display: block;
    color:black;
    padding: 5%;
}

nav a:link {
	padding: 0.75rem;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #e8eae6;
    background-color: rgba(0,0,0,0.3);
}

nav ul li.active a{
    color: #e8eae6;
    background-color: rgba(0,0,0,0.2);
}

nav ul.responsive {
    display: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #cfdac8;
    justify-content: center;
}

header h1 {
    font-size: 1.5rem;
    letter-spacing: 2pt;
}

.slogan{
    display: flex;
    flex-wrap: nowrap;
    font-size: .75rem;
}

header img {
    width: 64px;
    height: auto;
    padding: 10%;
}

.navigation div {
    display: block;
}

.weatherSummary {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}

.forecast {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}

.article {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}

.contact {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}