h1, h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #e8eae6;
}


nav {
    margin: 0 auto;
    max-width: 100%;
    color: #e8eae6;
    background-color: #00303f;

}

header {
    display: flex;
    align-items: center;
    background-color: #00303f;
    justify-content: center;
    color: #e8eae6;
}

header h1 {
    align-content: center;
    font-size: 1.5rem;
    margin: 0 0 0 15px;
    letter-spacing: 2pt;
}

.head {
    display: grid;
    grid: 1fr 1fr;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
}

.navigation a:link {
    display: block;
	padding: 0.75rem;
    color: #e8eae6;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation a:visited {
    color: #e8eae6;
}

.navigation li:first-child {
    display: block;
}

.navigation a:hover {
    color: #00303f;
    background-color: #e8eae6;
}

.active {
    color: #00303f;
    background-color: #e8eae6;
}

.active a:visited {
    color: #00303f;
}

.slogan{
    font-style: italic;
    font-size: .75rem;
}


footer {
    color: #e8eae6;
    background-color: #00303f;
    text-align: center;
}