h1, h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #e8eae6;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #cfdac8;

}

header {
    display: flex;
    align-items: center;
    background-color: #cfdac8;
    justify-content: center;
}

header h1 {
    font-size: 1.5rem;
    margin: 0 0 0 15px;
    letter-spacing: 2pt;
}

.slogan{
    font-style: italic;
    font-size: .75rem;
    margin-left: 2em;

}
header img {
    width: 80px;
    height: auto;
}



.navigation a:link {
    display: block;
	padding: 0.75rem;
    color:black;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation a:hover {
    color: #e8eae6;
    background-color: black;
}

.responsive li {
    display: block;
}

.weatherSummary {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}

.forecast {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}

.article {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}

.contact {
    border: 4px #cfdac8;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}