@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #89b5af;
    padding: 20px;
}
.navbar img {
    width: 36px;
    height: auto;
}
.navbar a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

.navbar li {
    list-style-type: none;
}

.navbar a:hover {
    color: black;
}

.navbar-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5%;
}

.navbar-brand {
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bolder;
}

.active {
    font-weight: bolder;
}

div.responsive {
    display: none;
}

body{
    font-family: 'Jost', sans-serif;
    font-size: 1.25rem;
    background-color: #f6f6f6;
}

main {
    padding: 20px;
}

main div.home-rental {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 20px;
}

.home-rental img {
    width: 80%;
    height:auto;
    margin-left: 20%;
}

.btn {
    border: none;
    background-color: #212121;
    color: #f6f6f6;
    border-radius: 1.5rem;
    width: auto;
    padding: 5px 15px;
    max-width: 20rem;
}

main div.home-weather {
    padding: 20px 20px;
}

.current-weather {
    padding: 15px;
    margin: 20px 0;
    top: 3rem;
    left: 2rem;
    background-color: #96c7c1;
    color: #ffffff;
    box-shadow: 1px 1px 8px #000;
}

.current-weather p {
    margin-bottom: 2px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

main div.head-section-one img {
    width: 100%;
    height: auto;
}

main div.home-rental {
    background-color: #89B5AF;
    color: #ffffff;
    margin-top: 20px;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #89B5AF;
    color: #ffffff;
    justify-content: left;
}

footer img {
    width: 2rem;
    height: auto;
    margin: 0 5px;
}

footer section {
    padding: 20px 0 20px 20px;
    width: 30%;
    align-items: start;
}

footer section.social-links {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    align-self: center;
    justify-self: right;
}