@media only screen and (min-width: 60em) {
    nav ul.responsive {
        display: flex;
    }

    .navigation div {
        display: none;
    }

    .weatherSummary .overlay {
        position: absolute;
        top: 9rem;
        left: 4rem;
    }

    table.table.table-bordered.table-dark.responsive {
        display: table;
    }

    .article p {
        padding: 6rem 3rem 3rem 3rem;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
