@media only screen and (min-width: 60em) {
    nav ul.responsive {
        display: flex;
    }

    .navigation div {
        display: none;
    }

    .imgCaption {
        width: 30%;
    }
    label {
        display: block;
        padding: 10px 20rem 10px 10px;
    }

    .formdiv {
        margin-left: 25%;
    }
    
    .formdiv h2 {
        margin-left: 20%;
    }

    .submitBtn {
        margin-left: 55%;
    }
}
