@media only screen and (min-width: 32.5em) {
    nav ul.responsive {
        display: flex;
    }

    .navigation div {
        display: none;
    }

    .imgCaption {
        width: 50%;
    }

    label {
        display: block;
        padding: 10px 10rem 10px 10px;
    }

    .formdiv {
        margin-left: 15%;
    }

    .formdiv h2 {
        margin-left: 20%;
    }

    .submitBtn {
        margin-left: 35%;
    }

}