body{
    font-family: 'Jost', sans-serif;
    background-color: #f6f6f6;
}

main img {
    width: 80%;
    height: auto;
}

.jeep-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin: 20px 20px 0;
}

.jeep-tour p {
    align-content: center;
}

.city-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #89B5AF;
    color: #ffffff;
    padding: 20px;
    margin: 20px 20px 0;
}

.city-tour img {
    margin-left: 20%;
}

.beach-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin: 20px 20px 0;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #89B5AF;
    color: #ffffff;
    justify-content: left;
}

footer img {
    width: 2rem;
    height: auto;
    margin: 0 5px;
}

footer section {
    padding: 20px 0 20px 20px;
    width: 30%;
    align-items: start;
}

footer section.social-links {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    align-self: center;
    justify-self: right;
}