@media only screen and (min-width: 58em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

    .responsive li {
        display: block;
    }

    .name {
        padding-left: 7rem;
    }

    header img {
        width: 200;
        height: auto;
    }

    /* .weatherSummary img {
        max-width: 75rem;
        max-height: 80%;
    } */

    .overlay {
        position: absolute;
        top: 30rem;
        right: 20rem;
    }

    .article {
        display: flex;
    }
    
    .article img {
        max-width: 30em;
        height: 30em;
        margin: 1em;
    }
}

