body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 1rem;
    border: 1px solid #a2b29f;
    background-color: #28b5b5;
    text-align: center;
}

h1, h2 {
    align-content: center;
}

main {
    text-align: center;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */

}

img {
    display: block;
    margin: 25px auto;
    max-width: 50%;
    box-shadow: 1px 1px 4px #888;
}

p {
    font-family: sans-serif;
    max-width: 300px;
    text-align: left;
    margin-left: 10px;
}

.responsive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: block;
    width: 100%;
    box-shadow: 1px 1px 4px #888;
    border-radius: 3px;
    background-color: white;
    margin: 20px;
    align-content: center;
}

.card h2, h3 {
    text-align: center;
    
}
