@media only screen and (min-width: 60em) {
    nav ul.responsive {
        display: flex;
    }

    .navigation div {
        display: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        margin-left:7rem;
    }
    
    .cards section {
        display: block;
        border: 4px #212121;
        border-style: solid;
        text-align: center;
        margin: 0 20px 20px;
        padding: 20px;
        height: auto;
        width: 25%;
    }
    
    .cards img {
        width: 30%;
        height: auto;
        margin: 0 15px 20px;
    }
}
