@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

    .responsive li {
        display: block;
    }

    header img {
        width: 200;
        height: auto;
    }

    .weatherSummary img {
        max-width: 50rem;
    }

    .overlay {
        position: absolute;
        top: 20rem;
        right: 10rem;
    }

    .article {
        display: flex;
    }
    
}
