@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #89b5af;
    padding: 20px;
}

.navbar img {
    width: 36px;
    height: auto;
}

.navbar a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

.navbar li {
    list-style-type: none;
}

.navbar a:hover {
    color: black;
}

.navbar-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5%;
}

.navbar-brand {
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bolder;
}

.active {
    font-weight: bolder;
}

div.responsive {
    display: none;
}

h1 {
    text-align: center;
}

body{
    font-family: 'Jost', sans-serif;
    background-color: #f6f6f6;
    font-size: 1.25rem;
}

main img {
    width: 90%;
    margin: 20px 0 0 5%;
}

.rental {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
}
.rental-info {
    background-color: #89B5AF;
    color: #f6f6f6;
    padding: 20px;
    margin: 20px;
}

.rental-table {
    margin: 20px 20px;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #89B5AF;
    color: #f6f6f6;
    justify-content: left;
}

footer img {
    width: 2rem;
    height: auto;
    /* margin: 0 5px; */
}

footer section {
    padding: 20px 0 20px 20px;
    width: 30%;
    align-items: start;
}

footer section.social-links {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    align-self: center;
    justify-self: right;
}