@media only screen and (min-width: 32.5em) {
    nav ul.responsive {
        display: flex;
    }

    .navigation div {
        display: none;
    }

    header img {
        width: 200;
        height: auto;
    }

    .weatherSummary img {
        max-width: 50rem;
    }

    .overlay {
        position: absolute;
        top: 20rem;
        right: 10rem;
    }

    .article {
        display: flex;
    }
}
