h1, h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #e8eae6;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #cfdac8;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    display: block;
    color:black;
    padding: 5%;
}

nav a:link {
	padding: 0.75rem;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #e8eae6;
    background-color: rgba(0,0,0,0.3);
}

nav ul li.active a{
    color: #e8eae6;
    background-color: rgba(0,0,0,0.2);
}

nav ul.responsive {
    display: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #cfdac8;
    justify-content: center;
}

header h1 {
    font-size: 1.5rem;
    letter-spacing: 2pt;
}

.slogan{
    display: flex;
    flex-wrap: nowrap;
    font-size: .75rem;
}

header img {
    width: 64px;
    height: auto;
    padding: 10%;
}

.navigation div {
    display: block;
}

.weatherSummary {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: .5em;
}

.weatherSummary h2, p {
    margin: 0;
}

.weatherSummary img {
    max-width: 30rem;
}

.overlay {
    position: absolute;
    top: 25rem;
    right: 5rem;
    background: #e8eae6;
    border: 2px solid black;
    padding: 2rem;
    box-shadow: 0 1em 1em 0 black;
    opacity: .7;
}
.forecast {
    align-content: center;
    text-align: center;
    border: 4px #00303f;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}

.forecastTable {
    display: block;
    border: 2px #00303f solid;
    align-items: center;
    align-content: center;
    border: 2px
}

.article {
    display: grid;
    grid: 1fr 1fr 1fr 1fr;
    color: #e8eae6;
    background-color: #00303f;
    margin: 1em;
    padding: .5em;
}

.article img {
    max-width: 20em;
    height: 20em;
    margin: 1em;
}

.article p {
    align-items: baseline;
    margin: 1em;
}

.contact {
    text-align: center;
    border: 4px #00303f;
    border-style: solid;
    margin: 1em;
    padding: .5em;
}
