h1, h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #e8eae6;
}

main img {
    max-width: 20rem;
    height:auto;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    /* flex-flow: column; */
	/* align-items: center; */
	justify-content: center;
	padding: 10px;

}