h1, h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #e8eae6;
}

main img {
    max-width: 20rem;
    height:auto;
}

header ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    /* flex-flow: column; */
	/* align-items: center; */
	justify-content: center;
	padding: 10px;

}

li {
    flex: 1 1 100%;
}

.navigation a:link {
    display: block;
	padding: 0.75rem;
    color: #e8eae6;;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
}

.navigation a:hover {
    color: #e8eae6;
    background-color: #00303f;
}